html {
    font-family: 
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: fadeout(@light-color, 20%);
    background-color: @second-color;
    overflow: hidden;
}

*,
::after,
::before {
    box-sizing: border-box;
}

hr {
    color: inherit;
    background-color: currentColor;
    border: 0;
    &:not([size]) {
        height: 1px;
    }
}

a {
    color: @primary-color;
}

.l-0 { left: 0;}
.t-0 { top: 0;}
.r-0 { right: 0;}
.b-0 { bottom: 0;}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-weight: 300;
    line-height: 1.2
}
.display-1 { font-size: 6rem; }
.display-2 { font-size: 5rem; }
.display-3 { font-size: 4rem; }
.display-4 { font-size: 3rem; }
.display-5 { font-size: 2rem; }
.display-6 { font-size: 1rem; }

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}
.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    display: inline-block;
    color: currentColor;
    height: calc(var(--key-rem) * 5);
    padding: calc(var(--key-rem) / 1.5) calc(var(--key-rem) * 1.5);
    background-color: transparent;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-align: center;
    text-decoration: none;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    &.button-round {
        border-radius: calc(var(--key-rem) * 2.5);
    }
    &.button-block {
        display: block;
        width: 100%
    }
    &.button-x-fix {
        width: calc( @media-min-with - calc(var(--key-rem) * 2));
    }
    &.button-light {
        color: fadeout(@second-color, 20%);
        background-color: @light-color;
    }
    &.button-second {
        color: fadeout(@light-color, 20%);
        background-color: @second-color;
    }
    &.button-link {
        text-decoration: underline;
        background-color: transparent;
    }
    &.button-primary {
        color: fadeout(@light-color, 20%);
        background-color: @primary-color;
    }
    &.button-opposite {
        color: fadeout(@light-color, 20%);
        background-color: @opposite-color;
    }
}

.bg-first { background-color: @light-color !important; }
.bg-second { background-color: @second-color !important; }
.bg-primary { background-color: @primary-color !important; }
.bg-opposite { background-color: @opposite-color !important; }

.border-first { border-color: @light-color !important; }
.border-second { border-color: @second-color !important; }
.border-primary { border-color: @primary-color !important; }
.border-opposite { border-color: @opposite-color !important; }

.text-first { color: fadeout(@light-color, 20%) !important; }
.text-second { color: @second-color !important; }
.text-primary { color: @primary-color !important; }
.text-opposite { color: @opposite-color !important; }

.input-custom {
    display: grid;
    > * {
        grid-column: 1~"/"2;
        grid-row: 1~"/"2;
    }
    input {
        height: calc(var(--key-rem) * 5);
        padding: calc(var(--key-rem) / 1.5) calc(var(--key-rem) * 1.5);
        background-color: transparent;
        border: none;
        color: currentColor;
        text-align: center;
        outline: none;
        z-index: 1;
        &:focus ~ .underline {
            padding-left: 0;
            padding-right: 0;
        }
        &:focus:placeholder-shown ~ .placeholder-icon,
        &:not(:placeholder-shown) ~ .placeholder-icon {
            margin-left: 0;
            transform: translateX(0);
        }
        &:not(:focus):not(:placeholder-shown) ~ .placeholder-icon {
            margin-left: calc(var(--key-rem) * 1.5);
        }
        &::placeholder {
            color: transparent;
        }
    }
    .placeholder-icon {
        margin-left: 50%;
        margin-top: auto;
        margin-bottom: auto;
        left: 20px;
        width: var(--icon-size);
        height: var(--icon-size);
        opacity: .8;
        transition: transform .25s ease-in-out, margin-left .25s ease-in-out;
        transform: translateX(-50%);
    }
    .underline {
        margin-top: auto;
        height: var(--range-height);
        background-color: @primary-color;
        background-clip: content-box;
        padding-left: calc(var(--key-rem) * 1.5);
        padding-right: calc(var(--key-rem) * 1.5);
        transition: padding .25s ease-in-out;
    }
}

@selectors: range(0, 100, 10);
each(@selectors, {
    .opa-@{value} {
        opacity: @value/100;
    }
});

// img,
// svg {
//     width: auto;
//     max-width: 100%;
//     height: auto;
//     max-height: 100%;
// }


.thumb {
    width: var(--thumbnails-size);
    height: var(--thumbnails-size);
    object-fit: cover;
    object-position: center;        
}

.player-speed {
    position: relative;
    .player-speed-name {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: x-small;
        text-transform: uppercase;
    }
}

/* hide anything when virtual keyboard is displayed */
@media screen and (orientation: portrait) and (max-height: @media-breakpoint-pk) {
    .d-none-if-keypad,
    .d-none-if-keypad-portrait {
        display: none;
    }
}
@media screen and (orientation: landscape) and (max-height: @media-breakpoint-lk) {
    .d-none-if-keypad,
    .d-none-if-keypad-landscape {
        display: none;
    }
}

.rate {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(5, var(--rate-height));
    grid-auto-rows: var(--rate-height);
    // svg {
        // &:nth-child(1){ grid-column: 1~"/"2; }
        // &:nth-child(2){ grid-column: 2~"/"3; }
        // &:nth-child(3){ grid-column: 3~"/"4; }
        // &:nth-child(4){ grid-column: 4~"/"5; }
        // &:nth-child(5){ grid-column: 5~"/"6; }
        // grid-row: 1~"/"2;
    // }
    input {
        position: absolute;
        grid-column: 1~"/"6;
        width: 100%;
        height: 100%;
        // grid-row: 1~"/"2;
        padding-left: calc(var(--rate-height)/3);
        padding-right: calc(var(--rate-height)/3);
    }
}

.filters {
    display: grid;
    z-index: 1;
    > div {
        display: flex;
        flex-direction: column;
        padding: var(--padding);
        background-color: fadeout(@second-color, 20%);
        div {
            display: grid;
            grid-template-columns: var(--icon-size) auto;
            grid-gap: var(--grid-gap);
            align-items: center;
            padding: calc(var(--padding) * .5) var(--padding);
        }
    }
}

.spin {
    animation: spin 24s linear infinite;
    animation-play-state: paused;
    will-change: transform;
    &.running {
        animation-play-state: running;
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.player-button-off {
    opacity: .5;
    filter: blur(var(--key-rem));
    transition: all .25s linear;
}
.player-button-on {
    opacity: 1;
    filter: blur(-0.1rem);
    transition: all .25s linear;
}