.signin {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-rows: auto repeat(5, min-content);
    grid-template-columns: auto auto;
    grid-template-areas:
    "splash splash"
    "inp-em inp-em"
    "inp-pw inp-pw"
    "errors errors"
    "btn-fp btn-su"
    "btn-si btn-si";
    justify-self: center;
    .splash {
        grid-area: splash;
        align-self: center;
        > svg {
            width: calc(var(--key-rem) * 12);
        }
    }
    .inp-em {
        grid-area: inp-em;
    }
    .inp-pw {
        grid-area: inp-pw;
    }
    .errors {
        display: grid;
        grid-area: errors;
        min-height: var(--icon-size);
        align-items: center;
        justify-items: center;
    }
    .btn-fp {
        grid-area: btn-fp;
    }
    .btn-su {
        grid-area: btn-su;
    }
    .btn-si {
        grid-area: btn-si;
    }
}

@media screen and (orientation: landscape) and (max-width: @media-breakpoint-md - .01) {
    .signin {
        grid-template-areas:
        "splash splash inp-em inp-em"
        "splash splash inp-pw inp-pw"
        "splash splash errors errors"
        "splash splash btn-fp btn-su"
        "splash splash btn-si btn-si";
        grid-template-columns: 1fr 1fr auto auto;
        align-self: center;
    }
}

@media screen and (orientation: landscape) and (max-height: @media-breakpoint-lk - .01) {
    .signin {
        grid-template-areas:
        "inp-em inp-em inp-pw inp-pw"
        "errors errors errors errors"
        "btn-fp btn-su btn-si btn-si";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-self: center;
    }
    .splash {
        display: none;
    }
}
