.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: calc(var(--grid-gap) * 2);
    overflow-x: hidden;
    overflow-y: auto;
    .item {
        display: grid;
        grid-template-areas:
            "thumb title"
            "thumb author"
            "thumb status" ;
        grid-template-columns: min-content auto;
        grid-gap: var(--grid-gap);
        .thumb {
            grid-area: thumb;
        }
        .title {
            grid-area: title;
        }
        .author {
            grid-area: author;
        }
        .status {
            grid-area: status;
            display: grid;
            &.bar {
                height: var(--range-height);
            }
        }
    }
}

@media screen and (orientation: landscape) and (max-width: @media-breakpoint-lg - .01),
screen and (orientation: portrait) and (min-width: @media-breakpoint-md) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (orientation: landscape) and (min-width: 992px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
    main.show {
        .list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}