:root {
    --key-rem: .5rem;

    --padding: var(--key-rem);
    --column-gap: calc(var(--key-rem) * 4);
    --grid-gap: var(--key-rem);
    --thumbnails-size: calc(var(--key-rem) * 10);
    --menu-height: calc(var(--key-rem) * 5);
    --icon-size: calc(var(--key-rem) * 3);

    --range-height: calc(var(--key-rem) / 4);
}